{"http_interactions": [{"request": {"body": {"encoding": "utf-8","string": ""},"headers": {"Authorization": ["<Authorization>"]},"method": "GET","uri": "https://oauth.reddit.com/api/info/?id=t1_kwv73qk&raw_json=1"},"response": {"body": {"encoding": "UTF-8","string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_aymtgy\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"penpalbotdev\", \"author_flair_template_id\": \"2693db3e-dd90-11ee-99a0-e66a03397746\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": true, \"id\": \"kwv73qk\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"spam\": false, \"can_mod_post\": true, \"gildings\": {}, \"send_replies\": true, \"parent_id\": \"t3_1bpd27b\", \"score\": 1, \"author_fullname\": \"t2_l56kwuu68\", \"created_utc\": 1711577117.0, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"ignore_reports\": false, \"body\": \"u/YarnSwapper \\\\- 1 - 1\\n\\nu/thisisreallytricky \\\\- 1 - 1\\n\\nu/FPPenSwapBot 1 1\", \"awarders\": [], \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"author_patreon_flair\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/YarnSwapper\\\"\\u003Eu/YarnSwapper\\u003C/a\\u003E - 1 - 1\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/u/thisisreallytricky\\\"\\u003Eu/thisisreallytricky\\u003C/a\\u003E - 1 - 1\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/u/FPPenSwapBot\\\"\\u003Eu/FPPenSwapBot\\u003C/a\\u003E 1 1\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"removal_reason\": null, \"collapsed_reason\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"removed\": false, \"unrepliable_reason\": null, \"approved\": false, \"author_flair_text_color\": \"dark\", \"score_hidden\": false, \"permalink\": \"/r/penpalbotdev/comments/1bpd27b/march_2024_confirmation_thread/kwv73qk/\", \"subreddit_type\": \"private\", \"locked\": false, \"name\": \"t1_kwv73qk\", \"created\": 1711577117.0, \"author_flair_text\": \"\\ud83d\\udce7 Emails: 6 | \\ud83d\\udcec Letters: 6\", \"treatment_tags\": [], \"author\": \"thisisreallytricky\", \"link_id\": \"t3_1bpd27b\", \"subreddit_name_prefixed\": \"r/penpalbotdev\", \"controversiality\": 0, \"author_flair_background_color\": \"#7193ff\", \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"mod_note\": null, \"distinguished\": null}}], \"before\": null}}"},"headers": {"Connection": ["keep-alive"],"x-ua-compatible": ["IE=edge"],"content-type": ["application/json; charset=UTF-8"],"expires": ["-1"],"cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"],"x-ratelimit-remaining": ["641"],"x-ratelimit-used": ["355"],"x-ratelimit-reset": ["132"],"Accept-Ranges": ["bytes"],"Date": ["Thu, 28 Mar 2024 00:37:48 GMT"],"Via": ["1.1 varnish"],"Vary": ["accept-encoding, Accept-Encoding"],"Strict-Transport-Security": ["max-age=31536000; includeSubdomains"],"X-Content-Type-Options": ["nosniff"],"X-Frame-Options": ["SAMEORIGIN"],"X-XSS-Protection": ["1; mode=block"],"Set-Cookie": ["<Set-Cookie>"],"Server": ["snooserv"],"Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"],"NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]},"status": {"code": 200,"message": "OK"},"url": "https://oauth.reddit.com/api/info/?id=t1_kwv73qk&raw_json=1"},"recorded_at": "2024-03-28T00:37:48"}],"recorded_with": "betamax/0.9.0"}