{"http_interactions": [{"request": {"body": {"encoding": "utf-8","string": ""},"headers": {"Authorization": ["<Authorization>"]},"method": "GET","uri": "https://oauth.reddit.com/user/PenPalConfirmationBo/submitted?sort=new&limit=5&raw_json=1"},"response": {"body": {"encoding": "UTF-8","string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 3, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"\", \"approved_at_utc\": null, \"subreddit\": \"penpalbotdev\", \"selftext\": \"Submit your confirmations below!\\n\\n* [**No Previous Confirmation Thread**]()\\n* [**Full List of Subreddit Rules**](https://www.reddit.com/r/penpalbotdev/wiki/rules/)\\n* [**Message the Moderators**](http://www.reddit.com/message/compose?to=/r/penpalbotdev)\\n\\n# How Does This Process Work?\\n\\n\\u003E Note: Confirmations may take a few minutes as the bot processes the confirmation.\\n\\nAfter exchanging emails or letters, confirm that the user sent them by tagging their name, and then i[...]
{"request": {"body": {"encoding": "utf-8","string": ""},"headers": {"Authorization": ["<Authorization>"]},"method": "GET","uri": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"},"response": {"body": {"encoding": "UTF-8","string": "{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": \"\", \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": false, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": true, \"display_name\": \"penpalbotdev\", \"header_img\": null, \"title\": \"penpalbotdev\", \"allow_galleries\": true, \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": 1, \"icon_img\": \"\", \"display_name_prefixed\": \"r/penpalbotdev\", \"accounts_active\": 1, \"public_traffic\": false, \"subscribers\": 2, \"user_flair_richtext\": [], \"name\": \"t5_aymtgy\", \"quarantine\": false, \"hide_ads\": false, \"prediction_leaderboard_entry_type\": 1, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"allow_predictions\": false, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"community_reviewed\": false, \"submit_text\": \"\", \"description_html\": null, \"spoilers_enabled\": true, \"comment_contribution_settings\": {\"allowed_media_types\": [\"giphy\", \"static\", \"animated\", \"expression\"]}, \"allow_talks\": false, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"collections_enabled\": true, \"is_enrolled_in_new_modmail\": true, \"key_color\": \"\", \"can_assign_user_flair\": false, \"created\": 1709931969.0, \"wls\": null, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": false, \"allowed_media_in_comments\": [\"giphy\", \"static\", \"animated\", \"expression\"], \"allow_videogifs\": true, \"should_archive_posts\": false, \"user_flair_type\": \"text\", \"allow_polls\": true, \"collapse_deleted_comments\": true, \"coins\": 0, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": false, \"is_crosspostable_subreddit\": true, \"notification_level\": null, \"should_show_media_in_comments_setting\": true, \"can_assign_link_flair\": false, \"has_menu_widget\": false, \"accounts_active_is_fuzzed\": false, \"allow_prediction_contributors\": false, \"submit_text_label\": \"\", \"link_flair_position\": \"right\", \"user_sr_flair_enabled\": true, \"user_flair_enabled_in_sr\": true, \"allow_discovery\": true, \"accept_followers\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"disable_contributor_requests\": false, \"subreddit_type\": \"private\", \"suggested_comment_sort\": null, \"banner_img\": \"\", \"user_flair_text\": \"\", \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"aymtgy\", \"user_is_moderator\": true, \"over18\": false, \"header_title\": \"\", \"description\": \"\", \"submit_link_label\": \"\", \"user_flair_text_color\": \"\", \"restrict_commenting\": false, \"user_flair_css_class\": \"\", \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": null, \"url\": \"/r/penpalbotdev/\", \"created_utc\": 1709931969.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_contributor\": true, \"allow_predictions_tournament\": false}}"},"headers": {"Connection": ["keep-alive"],"x-ua-compatible": ["IE=edge"],"content-type": ["application/json; charset=UTF-8"],"expires": ["-1"],"cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"],"x-ratelimit-remaining": ["640"],"x-ratelimit-used": ["356"],"x-ratelimit-reset": ["138"],"Accept-Ranges": ["bytes"],"Date": ["Mon, 01 Apr 2024 00:47:42 GMT"],"Via": ["1.1 varnish"],"Vary": ["accept-encoding, Accept-Encoding"],"Strict-Transport-Security": ["max-age=31536000; includeSubdomains"],"X-Content-Type-Options": ["nosniff"],"X-Frame-Options": ["SAMEORIGIN"],"X-XSS-Protection": ["1; mode=block"],"Set-Cookie": ["<Set-Cookie>"],"Server": ["snooserv"],"Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"],"NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]},"status": {"code": 200,"message": "OK"},"url": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"},"recorded_at": "2024-04-01T00:47:42"}],"recorded_with": "betamax/0.9.0"}